.tileGrid {
    overflow: auto;
    width: 100%;
}

.tile {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
}

h1, p {
    -webkit-margin-start: 10px;
}

.joinText {
    width: 255px
}

.hasTurn {
    font-weight: bolder;
}